<!-- loaded static file -->
{% load static %}

<!-- user base template -->
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> {% block title %} {% endblock %} </title>
  <link rel="shortcut icon" href="{% static 'image/walletbg.png' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <style>
    body {
      overflow: visible;
    }
  </style>
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">
  <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'image/LOGO.png' %}" alt="PocketPal"
          width="60" height="40"></a>
    </div>
    </div>
  </nav>

  {% block content %}
  <!-- Content Block Ends -->
  {% endblock %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>